In [1]:
import re
import pandas as pd

In [2]:
f = open('Chat.txt','r',encoding='utf-8')

In [3]:
data = f.read()

In [4]:
pattern = '\d{1,2}/\d{1,2}/\d{1,2},\s\d{1,2}:\d{2}\s-\s'

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
/var/folders/s5/w767hn_x4z7db6683kjg2qdr0000gn/T/ipykernel_45833/2716954415.py:1: SyntaxWarning: invalid escape sequence '\d'
  pattern = '\d{1,2}/\d{1,2}/\d{1,2},\s\d{1,2}:\d{2}\s-\s'

In [5]:
masseges = re.split(pattern , data)[1:]
#masseges

In [6]:
dates = re.findall(pattern,data)
#dates

In [7]:
df = pd.DataFrame({'user_message':masseges , 'message_date':dates})

df['message_date'] = pd.to_datetime(df['message_date'],format='%d/%m/%y, %H:%M - ')
df.rename(columns={'message_date':'date'},inplace=True)

In [8]:
df.head()

                                        user_message                date
0  Messages and calls are end-to-end encrypted. O... 2023-11-30 12:36:00
1  Prince Makaut created group "MAKAUT ( Sem-1 Un... 2023-11-29 22:33:00
2        You joined using this group's invite link\n 2023-11-30 12:36:00
3                          Prince Makaut: Haa bhai\n 2023-11-30 12:37:00
4  Nitesh Makaut joined using this group's invite... 2023-11-30 17:37:00

In [9]:
df.shape

(4354, 2)

In [10]:
# Separate users and message

users =[]
messsages = []

for mssg in df['user_message']:
    entry = re.split('([\w\W]+?):\s' , mssg)
    if entry[1:]:
        users.append(entry[1])
        messsages.append(entry[2])
    else:
        users.append('group_notification')
        messsages.append(entry[0])

df['users'] = users
df['message'] = messsages

df.drop(columns=['user_message'],inplace=True)

<>:7: SyntaxWarning: invalid escape sequence '\w'
<>:7: SyntaxWarning: invalid escape sequence '\w'
/var/folders/s5/w767hn_x4z7db6683kjg2qdr0000gn/T/ipykernel_45833/337832967.py:7: SyntaxWarning: invalid escape sequence '\w'
  entry = re.split('([\w\W]+?):\s' , mssg)

In [11]:
df.sample(10)

,date,users,message
1139,2024-04-29 21:09:00,Sritama Makaut,<Media omitted>\n
933,2024-03-22 10:39:00,Madhusudan Singh Makaut,Academic\n
1678,2024-07-18 21:26:00,Madhusudan Singh Makaut,Muskuraiye ap makaut me h\n
22,2023-12-04 09:24:00,Nitesh Makaut,Oo\n\nKahi ghumne nikal ja mere bhai..\n
168,2023-12-18 12:08:00,+91 77973 95173,Main math ka Assignment deke nikal lunga\n
3282,2025-03-28 14:08:00,Hritik Makaut,Oyee koi coa ka lab copy banaya hai to mughe s...
425,2024-01-15 00:39:00,Prem Ranjan Makaut,Happy birthday @‚Å®MD MOAZZAM Makaut‚Å© ü•≥\n
967,2024-03-27 12:02:00,Sritama Makaut,<Media omitted>\n
3695,2025-06-16 22:24:00,+91 90640 36674,<Media omitted>\n
1395,2024-06-18 01:57:00,Prem Ranjan Makaut,This message was deleted\n

In [12]:
df['year']=df['date'].dt.year

In [13]:
df['month'] = df['date'].dt.month_name()

In [14]:
df.head()

,date,users,message,year,month
0,2023-11-30 12:36:00,group_notification,Messages and calls are end-to-end encrypted. O...,2023,November
1,2023-11-29 22:33:00,group_notification,"Prince Makaut created group ""MAKAUT ( Sem-1 Un...",2023,November
2,2023-11-30 12:36:00,group_notification,You joined using this group's invite link\n,2023,November
3,2023-11-30 12:37:00,Prince Makaut,Haa bhai\n,2023,November
4,2023-11-30 17:37:00,group_notification,Nitesh Makaut joined using this group's invite...,2023,November

In [15]:
df['day'] = df['date'].dt.day

In [16]:
df['hour'] = df['date'].dt.hour

In [17]:
df['minute'] = df['date'].dt.minute

In [18]:
df.head()

,date,users,message,year,month,day,hour,minute
0,2023-11-30 12:36:00,group_notification,Messages and calls are end-to-end encrypted. O...,2023,November,30,12,36
1,2023-11-29 22:33:00,group_notification,"Prince Makaut created group ""MAKAUT ( Sem-1 Un...",2023,November,29,22,33
2,2023-11-30 12:36:00,group_notification,You joined using this group's invite link\n,2023,November,30,12,36
3,2023-11-30 12:37:00,Prince Makaut,Haa bhai\n,2023,November,30,12,37
4,2023-11-30 17:37:00,group_notification,Nitesh Makaut joined using this group's invite...,2023,November,30,17,37

In [19]:
df.drop(columns=['date'],inplace=True)

In [20]:
df.head()

,users,message,year,month,day,hour,minute
0,group_notification,Messages and calls are end-to-end encrypted. O...,2023,November,30,12,36
1,group_notification,"Prince Makaut created group ""MAKAUT ( Sem-1 Un...",2023,November,29,22,33
2,group_notification,You joined using this group's invite link\n,2023,November,30,12,36
3,Prince Makaut,Haa bhai\n,2023,November,30,12,37
4,group_notification,Nitesh Makaut joined using this group's invite...,2023,November,30,17,37

In [24]:
df[df['users']=='Prince Makaut'].shape[0]

159