In [81]:
import re
import pandas as pd

In [82]:
f = open('Chat.txt','r',encoding='utf-8')

In [83]:
data = f.read()

In [84]:
pattern = '\d{1,2}/\d{1,2}/\d{1,2},\s\d{1,2}:\d{2}\s-\s'

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
/var/folders/s5/w767hn_x4z7db6683kjg2qdr0000gn/T/ipykernel_155/2716954415.py:1: SyntaxWarning: invalid escape sequence '\d'
  pattern = '\d{1,2}/\d{1,2}/\d{1,2},\s\d{1,2}:\d{2}\s-\s'

In [85]:
masseges = re.split(pattern , data)[1:]
#masseges

In [86]:
dates = re.findall(pattern,data)
#dates

In [87]:
df = pd.DataFrame({'user_message':masseges , 'message_date':dates})

df['message_date'] = pd.to_datetime(df['message_date'],format='%d/%m/%y, %H:%M - ')
df.rename(columns={'message_date':'date'},inplace=True)

In [88]:
df.head()

                                        user_message                date
0  Messages and calls are end-to-end encrypted. O... 2023-11-30 12:36:00
1  Prince Makaut created group "MAKAUT ( Sem-1 Un... 2023-11-29 22:33:00
2        You joined using this group's invite link\n 2023-11-30 12:36:00
3                          Prince Makaut: Haa bhai\n 2023-11-30 12:37:00
4  Nitesh Makaut joined using this group's invite... 2023-11-30 17:37:00

In [89]:
df.shape

(4354, 2)

In [90]:
# Separate users and message

users =[]
messsages = []

for mssg in df['user_message']:
    entry = re.split('([\w\W]+?):\s' , mssg)
    if entry[1:]:
        users.append(entry[1])
        messsages.append(entry[2])
    else:
        users.append('group_notification')
        messsages.append(entry[0])

df['users'] = users
df['message'] = messsages

df.drop(columns=['user_message'],inplace=True)

<>:7: SyntaxWarning: invalid escape sequence '\w'
<>:7: SyntaxWarning: invalid escape sequence '\w'
/var/folders/s5/w767hn_x4z7db6683kjg2qdr0000gn/T/ipykernel_155/337832967.py:7: SyntaxWarning: invalid escape sequence '\w'
  entry = re.split('([\w\W]+?):\s' , mssg)

In [91]:
df.sample(10)

,date,users,message
1422,2024-06-20 11:56:00,Priyansh Srivastav Makaut,Happy birthday @‚Å®~Indrayudh‚Å©\n
1293,2024-06-06 12:06:00,+91 62970 65903,Madam amar konsa ‡¶Ü‡¶§‡ßç‡¶Æ‡ßÄ‡¶Ø‡¶º hoi j amar kotha sunbe\n
682,2024-03-03 14:09:00,Priyansh Srivastav Makaut,
4060,2025-09-10 23:02:00,Rohit Makaut,Kisi ko individually nei bty the bas class mai...
322,2024-01-01 00:30:00,Priyansh Srivastav Makaut,Happy new year üéä\n
3143,2025-03-05 22:09:00,Madhusudan Singh Makaut,Nhi\n
2738,2025-01-12 20:13:00,Rohit Makaut,Mera 0\n
1484,2024-06-28 06:20:00,Priyansh Srivastav Makaut,<Media omitted>\n
260,2023-12-28 00:12:00,Harsh Pandey Makaut,Happy birthday @‚Å®Prem Ranjan Makaut‚Å© üéâüéàüéÇ‚ù§Ô∏è\n
4255,2025-09-12 18:20:00,Suchana makaut,<Media omitted>\n

In [92]:
df['year']=df['date'].dt.year

In [93]:
df['month'] = df['date'].dt.month_name()

In [94]:
df.head()

,date,users,message,year,month
0,2023-11-30 12:36:00,group_notification,Messages and calls are end-to-end encrypted. O...,2023,November
1,2023-11-29 22:33:00,group_notification,"Prince Makaut created group ""MAKAUT ( Sem-1 Un...",2023,November
2,2023-11-30 12:36:00,group_notification,You joined using this group's invite link\n,2023,November
3,2023-11-30 12:37:00,Prince Makaut,Haa bhai\n,2023,November
4,2023-11-30 17:37:00,group_notification,Nitesh Makaut joined using this group's invite...,2023,November

In [95]:
df['day'] = df['date'].dt.day

In [96]:
df['hour'] = df['date'].dt.hour

In [97]:
df['minute'] = df['date'].dt.minute

In [98]:
df.head()

,date,users,message,year,month,day,hour,minute
0,2023-11-30 12:36:00,group_notification,Messages and calls are end-to-end encrypted. O...,2023,November,30,12,36
1,2023-11-29 22:33:00,group_notification,"Prince Makaut created group ""MAKAUT ( Sem-1 Un...",2023,November,29,22,33
2,2023-11-30 12:36:00,group_notification,You joined using this group's invite link\n,2023,November,30,12,36
3,2023-11-30 12:37:00,Prince Makaut,Haa bhai\n,2023,November,30,12,37
4,2023-11-30 17:37:00,group_notification,Nitesh Makaut joined using this group's invite...,2023,November,30,17,37

In [99]:
df.drop(columns=['date'],inplace=True)

In [101]:
df.head()

,users,message,year,month,day,hour,minute
0,group_notification,Messages and calls are end-to-end encrypted. O...,2023,November,30,12,36
1,group_notification,"Prince Makaut created group ""MAKAUT ( Sem-1 Un...",2023,November,29,22,33
2,group_notification,You joined using this group's invite link\n,2023,November,30,12,36
3,Prince Makaut,Haa bhai\n,2023,November,30,12,37
4,group_notification,Nitesh Makaut joined using this group's invite...,2023,November,30,17,37